@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="background-image: url('/img/vetClinic.jpeg'); background-size: cover; background-position: center; height: 100vh;">
    <h1 class="display-4" style="color:#3E497F ; font-weight:700">Benvenuto</h1>
</div>
