@{
    ViewData["Title"] = "Search";
}

<div action="row">
    <div class="col text-center">
        <h1 style="color:darkblue" >Vuoi vedere se un pelosetto è / è stato nostro ospite?</h1>

        <h4 class="my-5">Inserisci qui il numero del microchip!</h4>
    </div>
</div>


<div class="row text-center">
    <div class="col text-center">
        <form asp-action="SearchResults">
            <div class="form-group">
                <label for="microchip">Microchip</label>
                <input type="text" name="microchip" class="form-control" required />
            </div>
            <div class="form-group mt-5">
                <input type="submit" value="Cerca" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
