@model ClinicaVeterinariaWebApp.Models.Drawer

@{
    ViewData["Title"] = "Drawer Details";
}

<h1>Dettagli cassetto</h1>

<div>
    <h4>Cassetto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Numero
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class="col-sm-2">
            Codice Armadietto
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cabinet.Code)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Modifica</a> |
    <a asp-action="Index" class="btn btn-secondary">Ritorna alla lista</a>
</div>