@model IEnumerable<ClinicaVeterinariaWebApp.Models.Sale>

<table class="table">
    <thead>
        <tr>
            <th>Nome prodotto</th>
            <th>Data di Vendita</th>
            <th>Codice fiscale cliente</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sale in Model)
        {
            <tr>
                <td>@sale.Product.Name</td>
                <td>@sale.SaleDate.ToString("dd-MM-yyyy")</td>
                <td>@sale.CustomerFiscalCode</td>
            </tr>
        }
    </tbody>
</table>
